<mat-nav-list *ngIf="eatery && voucher; else noRoute">
    <h1 mat-header >
        {{ eatery.name }}
    </h1>
    <mat-list-item [routerLink]="['me-new', eatery.id, voucher.id, 'products']">
        <mat-icon mat-list-icon>menu</mat-icon>
        <h4 mat-line>メニュー</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['me-new', eatery.id, voucher.id, 'history']">
        <mat-icon mat-list-icon>history</mat-icon>
        <h4 mat-line>注文履歴</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['me-new', eatery.id, voucher.id, 'payment']">
        <mat-icon mat-list-icon>payment</mat-icon>
        <h4 mat-line>お会計</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['me-new', eatery.id, voucher.id, 'photos']">
        <mat-icon mat-list-icon>photo_library</mat-icon>
        <h4 mat-line>Photos</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['me-new', eatery.id, voucher.id, 'usage']">
        <mat-icon mat-list-icon>help</mat-icon>
        <h4 mat-line>使い方</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['me-new', eatery.id, voucher.id, 'call']">
        <mat-icon mat-list-icon>notification_important</mat-icon>
        <h4 mat-line>スタッフを呼ぶ</h4>
    </mat-list-item>
</mat-nav-list>
<ng-template #noRoute>
    <mat-nav-list *ngIf="eatery">
        <h1 mat-header >
            {{ eatery.name }}
        </h1>
        <mat-list-item>
            <mat-icon mat-list-icon>menu</mat-icon>
            <h4 mat-line>メニュー</h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>history</mat-icon>
            <h4 mat-line>注文履歴</h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>payment</mat-icon>
            <h4 mat-line>お会計</h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>photo_library</mat-icon>
            <h4 mat-line>Photos</h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>help</mat-icon>
            <h4 mat-line>使い方</h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>notification_important</mat-icon>
            <h4 mat-line>スタッフを呼ぶ</h4>
        </mat-list-item>
    </mat-nav-list>
</ng-template>