:host {
    text-align: center;
}
.right {
    text-align: right;
}

mat-icon.product {
    font-size: 5em;
    width: 30%;
    height: 100%;
}

.full-width {
    width: 100%;
}

button.order {
    color: white !important;
    background-color: #3F51B5;
}