:host {
    width: 100%;
    text-align: center;
}

.right {
    text-align: right;
    button {
        padding: 0;
    }
}

mat-form-field {
    width: 100%
}

#category {
    width: 90%;
}
#category-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.info {
    display: block;
    margin-top: 2em;
    width: 100%;
    text-align: right;
}

button.create {
    width: 100%;
}