:host ::ng-deep .container {
    width: 100%;
    mat-card-header {
        text-align: center;
    }
}

.sidenav-content {
    display: flex;
    padding: 20px;
    height: 100%;
}

.sidenav {
    padding: 20px;
    width: 20%;
    background-color:#3F51B5;
    color: white;
}