
<div class="container">
    <form class="form">
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Searchs">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>  
</div>
<mat-divider></mat-divider>
<div class="container">
    <app-categorized-products
        [products]="drinks"
        (selected)="openOrderDialog($event)"
    >
    </app-categorized-products>
</div>
<mat-divider></mat-divider>
<div class="container">
    <app-categorized-products [products]="speeds"></app-categorized-products>
</div>