:host {
    text-align: center;
}
.right {
    text-align: right;
}

$break-small: 640px;
$break-large: 1200px;  

mat-icon.product {
    @media screen and (max-width: $break-small) {
        font-size: 5em;
    }
    @media screen and (min-width: $break-large) {
        font-size: 10em;
    }
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

button.order {
    color: white !important;
    background-color: #3F51B5;
}