:host {
    width: 100%;
}


$break-small: 640px;
$break-large: 1200px;

.using {
    color: white;
    background-color: palevioletred;
}

.available {
    background-color: paleturquoise !important;
}

mat-card {

    @media screen and (min-width: $break-large) {
        width: 80%;
    }
    text-align: center;
    mat-icon {
        @media screen and (min-width: $break-large) {
            font-size: 5em;
        }
        width: 30%;
        height: 100%;
    }
}
